@import "./Root.scss";
@import "./mixin";

@keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.catchword {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-start {
    width: 70px;
    height: 34px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.3);
    border: none;
    background-color: #000000;
    color: white;
    cursor: pointer;
  }
  &-background {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &.black {
      background-color: #000000;
    }
  }
  &-word {
    opacity: 0;
    &.black {
      color: white;
    }
    &.flash {
      animation: flash 1s;
    }
  }
  &-answer {
    margin-top: 15px;
    margin-bottom: 300px;
    &-input {
      width: 150px;
      height: 30px;
      border: 1px solid #b3b3b3;
      border-radius: 5px;
      text-align: center;
      // &.invalid {
      //   border: 1px solid red;
      // }
    }
    &-next {
      margin-left: 10px;
      width: 70px;
      height: 34px;
      border: 1px solid #000000;
      border-radius: 5px;
      text-align: center;
    }
  }
}
